h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund 
{
	background-image: url("colored-pencils-heart-background-eps-10-vector-4774924.jpg");
	background-position: center;
    background-size: cover;
}

#myCanvas
{
    border-width:10px;
    background-color: white;
    border-style:ridge
}
